{% extends "users/base.html" %} {% block body %}
<div class="flex mt-5 justify-center">
  <h1 class="text-3xl font-normal text-gray-500 ">My Posts</h1>
</div>
<div class="grid grid-cols1">
  {% for post in posts %}
  <div class="flex rounded overflow-hidden w-[470px] h-[470px] bg-white shadow-lg">
    <img class="w-20" src="{{ post.image.url }}" alt="">
<div class="flex flex-col">
  <h4>{{ post.title }}</h4>
  <h4>{{ post.user }}</h4>
</div>
<div class="flex ">
  <h2>heey</h2>
</div>

  </div>
{% endfor %}


</div>




{% endblock %}


