input:focus {
  outline: none;
  background-color: white;
}

input {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  border: 2px solid rgba(0, 0, 255, 0.5);

}

textarea {
  background-color: white;
  border: none;

}

img {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}