{% extends "users/base.html" %} {% load static %} {% block body %}
<div class="flex mt-5 justify-center">
  <h1 class="text-3xl font-normal text-gray-500">My Posts</h1>
</div>
<div
  class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-6 mx-30 lg:mx-20"
>
  {% for post in posts %}

  <div
    class="flex flex-col rounded overflow-hidden w-[470px] h-[470px] bg-white shadow-lg"
  >
    <div class="user-container flex">
      <img
      {% if logged_user in post.liked_by.all %}
      src="{{post.user.profile.profile_pic.url}}"
      {% else %}
      src="#"
      {% endif %}
        alt="profile picture"
        class="w-10 h-10 object-contain rounded-full"
      />
      <div class="mx-2 my-2 font-bold">
        <span class="text-indigo-500">{{post.user}}</span>
      </div>
    </div>
    <hr>
    <img class="justify-center" src="{{ post.image.url }}" alt="" />
    <div class="px-2 py-2">
      <div class="flex gap-3 align-items-start">
        <span id="{{ post.id }}" class="btn-like">
          <img
          class="w-5 h-5"
          {% if logged_user in post.liked_by.all  %}
          src="{% static 'assets/images/liked_heart.png' %}"
          {% else %}
          src="{% static 'assets/images/heart_icon.svg' %}"
          {% endif %}
          alt="Like"
        />
        </span>

        <img
          class="w-3 h-5"
          src="{% static 'assets/images/comment_icon.svg' %}"
          alt="Like"
        />
        <div class="ml-auto">
          <img
            class="w-5 h-3 object-contain"
            src="{% static 'assets/images/share_icon.png' %}"
            alt="Like"
          />
        </div>
      </div>
      <div class="px-2 py-2">
        <div class="font-bold text-xl mb-2 text-decoration-none">
          {{post.title}}
        </div>
        <p class="text-grey-700 text-base">{{post.content}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script type="text/javascript">
window.CSRF_TOKEN = "{{ csrf_token }}"
$(document).on('click', '.btn-like', function () {
  let post_id = this.id
  $.ajax({
    method:"POST",
    url:"{% url 'like' %}",
    data: {post_id:post_id, csrfmiddlewaretoken:window.CSRF_TOKEN},
    success: function(response) {
      // update the like button and its associated count
      let likeButton = document.getElementById(post_id)
      let likeCount = likeButton.querySelector('.like-count')
      let likeImage = likeButton.querySelector('img')
      if (response.already_liked) {
        likeImage.src = "{% static 'assets/images/liked_heart.png' %}"
      } else {
        likeImage.src = "{% static 'assets/images/heart_icon.svg' %}"
      }
      likeCount.textContent = response.like_count + ' likes'
    }
  })
})

</script>
  {% endblock %}
